@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input[type="checkbox"] {
        @apply rounded focus:ring-0 focus:outline-primary-500 focus:ring-offset-0 bg-base-100 text-primary-500;
    }

    input[type="radio"] {
        @apply  focus:ring-0 focus:outline-none focus:ring-offset-0 bg-base-100 text-primary-500;
    }

    input[type="text"],
    input[type="number"],
    input[type="email"],
    input[type="password"],
    input[type="file"] {
        @apply rounded focus:ring-0 focus:outline-primary-500 focus:border-primary-500 bg-base-100 focus:ring-offset-0 text-base-content;
    }

    select {
        @apply rounded focus:outline-primary-500 focus:ring-0 focus:ring-offset-0 ;
    }
    option {
        @apply bg-base-100 text-base-content hover:bg-primary-500;
    }

    select:focus{
        border-color : #DAB540 !important;
    }

    textarea:focus,
    input[type="date"]:focus{
        @apply outline-primary-500 ring-offset-0 ring-0;
        border-color : #DAB540 !important;
    }

    a.bg-indigo-600,
    button.bg-indigo-600,
    button.bg-blue-600 {
        @apply focus:outline-primary-500 focus:ring-0 focus:ring-offset-0;
        background-color:#DAB540 !important;
        color:#191E24 !important;
    }

    a.text-indigo-600 {
        color:#DAB540 !important;
    }

    .button-white:focus {
        @apply ring-offset-0 ring-0 outline outline-2 outline-offset-2 outline-[#E5E7EB];
    }
}


:root:has(input.theme-controller[value=light]:checked),[data-theme=light] {
  color-scheme: light;
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: oklch(45% 0.24 277.023);
  --color-primary-content: oklch(93% 0.034 272.788);
  --color-secondary: oklch(65% 0.241 354.308);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

:root:has(input.theme-controller[value=dark]:checked),[data-theme=dark] {
  color-scheme: dark;
  --color-base-100: #000000;
  --color-base-200: #121212;
  --color-base-300: oklch(21.15% 0.012 254.09);
  --color-base-content: oklch(97.807% 0.029 256.847);
  --color-primary: oklch(58% 0.233 277.117);
  --color-primary-content: oklch(96% 0.018 272.314);
  --color-secondary: oklch(65% 0.241 354.308);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

